body {
    background-image: url(../images/mistletoe.jpg);
    background-size: 100%;
}

.jumbotron {
    background-color: #2a580b;
    margin-top: 10%;
    color: #fff9e9;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

#start-button, #done-button {
    font-family: 'Lobster', cursive;
    color: #fff9e9;
    font-size: 200%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
p {
    color: #fff9e9;
}

/*tags from javascript*/
#question {
    font-size: 25px;
}

h2, h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

.answer-check {
    margin-left: 20px;
}

.answer-check-label {
    padding: 6px;
}