body {
    background-image: url(../images/decorations.jpg);
    background-size: 102%;
}

.audio {
    margin-left:18px;
    margin-top: 18px;
}
.audio-text {
    padding-bottom: 3px;
    font-size: 21px;
    color: #2a580b;
    font-family: 'Courgette', cursive;
    margin-left: 21px;
    margin-top: 15px;
}

.jumbotron {
    background-color: #2a580b;
    margin-top: 7%;
    /*color: #fff9e9;*/
}

h1 {
    /*font-family: 'Lobster', cursive;*/
    text-align: center;
}

.display-4 {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 2px 2px #bd0000;
    font-family: 'Courgette', cursive;
}

p {
    text-align: center;
    color: #ffffff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 22px;
}

#start-button {
    font-family: 'Courgette', cursive;
    color: #ffffff;
    font-size: 35px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-top: 35px;
}

.btn {
    display: block;
    margin: auto;
}

#done {
    font-family: 'Courgette', cursive;
    color: #ffffff;
    font-size: 30px;
    margin-left: 70px;
}

#timer {
    color: #ffffff;
    font-family: 'Courgette', cursive;
    text-align: center;
}

/*tags from javascript*/
#question {
    font-size: 23px;
    margin-left: 45px;
    color: #ffffff;
    font-family: 'Didact Gothic', sans-serif;
}

.answer-check-input {
    margin-left: 45px;
}

.answer-check-label {
    padding: 6px;
    color: #ffffff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 19px;
}

#end-page {
    font-size: 24px;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: #ffffff;
    margin-left: 55px;
}